* {
	box-sizing: border-box;
}

html {
	background-color: red;
}

html,body {
	min-height: 100%;
}

body,textarea {
	font: 16px/1.5 BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
}

body {
	margin: 0;
	background-color: #efefef;
}

main{
	display: block;
}

p:last-child{
	margin-bottom: auto;
}

:focus {
	box-shadow: 0 0 0 2px rgba(255, 0, 0, 0.7);
	outline: none;
}

.page__footer{
	padding-top: 15px;
	padding-bottom: 15px;
}

.c-page__header {
	padding-bottom: 20px;
}

.c-page__title {
	margin: auto;
	line-height: 1.3;
}

.l-container {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

@media(max-width: 1230px){
	.l-container {
		margin-left: 15px;
		margin-right: 15px;
	}
}

.l-row {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.c-control {
	padding-top: 15px;
}

.c-textarea {
	height: 60vh;
	width: 100%;
	overflow: auto;
	line-height: 1.1;
	font-size: 14px;
}

.c-btn {
	padding: 0;
	text-align: center;
	border: none;
	background: #000;
	color: #fff;
	font-size: 18px;
	padding: .4em .8em;
	border-radius: 2px;
	transition: opacity .2s;
}

[disabled] {
	opacity: .5;
}

.c-btn:not([disabled]):hover:not(:active) {
	opacity: .8;
}

.l-col-6 {
	flex: 1 0 50%;
	max-width: calc(50% - 15px);
}
@media(max-width: 767px){
	.l-col-6 {
		flex: 1 0 100%;
		max-width: 100%;
	}
}

.c-textarea__left {
	background: #272822;
	color: #fff;
	padding: 5px 10px;
	border-radius: 5px;
}

pre.c-textarea__right {
	margin: 0;
}

.github-corner {
	position: absolute;
	top: 0;
	right: 0;
	color: gold;
}

.c-check{
	cursor: pointer;
	user-select: none;
}

.c-options{}

.c-options__preserve{}

.c-options__vars{
	width: 100%;
	height: 90px;
	font-size: 14px;
}

.c-section{
	margin-top: 20px;
}